body {
  background: #fff;
}

.sticky-header .left-side {
  box-shadow: 0 4px 10px rgba(88, 94, 252, 0.2);
}

.sticky-header .logo {
  background: #fff;
}

.sticky-header .custom-nav > li > a {
  color: #666;
}

.sticky-header .custom-nav > li .layui-nav-child dd a {
  color: #999;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
}

.main-content {
  background: #fff;
}
